<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Name test</title>
  </head>
  <body>
    <form action="/registration/thanks/" method="post">
      {% csrf_token %}
      {% for field in form %}
        {% if field.name == "password" %}
        <p>Password: {{ field }}</p>
        {% elif field.name == "confirm_password" %}
        <p>Confirm Password: {{ field }}</p>
        {% else %}
        <p>{{ field.name }}: {{ field }}</p>
        {% endif %}
      {% endfor %}
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
