<html>
  <head>
    <meta charset="utf-8">
    <title>User Registration</title>
  </head>
  <body>
    <h1>New User Registration</h1>
    <h3 id="id_q_count">{{ q_count }}</h3>
    <form method="POST">
      <input name="discipline_text" id="id_discipline" placeholder="Enter your discipline" />
      {% csrf_token %}
    </form>

    <table id="id_discipline_table">
      <tr>
        <td>
          Discipline: {{ new_discipline_text }}
        </td>
      </tr>

    </table>

  </body>
</html>
