<html>
  <head>
    <meta charset="utf-8">
    <title>User Registration</title>
  </head>
  <body>
    <h1>New User Registration</h1>

    <form method="POST">
      <input name="discipline_text" id="id_discipline" placeholder="User's discipline" />
      <!-- <input name="music_text" id="id_music_artist" placeholder="Enter your favorite musical artist(s): (No more than 4)" /> -->
      {% csrf_token %}
    </form>

    <table id="id_user_table">
      {% for profile in profiles %}
        <tr><td>Discipline {{ forloop.counter }}: {{ profile.discipline }}</td></tr>
        <!-- <tr><td>Favorite Musical Artists: {{ profile.music }}</td></tr> -->
      {% endfor %}
    </table>

  </body>
</html>
