<html>
  <head>
    <meta charset="utf-8">
    <title>Registration - Table Wisdom</title>
  </head>
  <body>
    <div name="header">
      <h1>Table Wisdom</h1>
      <h2>New User</h2>
    </div>

    <div name="registration-form">
      <form action="/basic_info/" method="POST"> {% csrf_token %}
        <!-- <label for="first_name">First name: </label>
        <input name="first_name_text" id="first_name" type="text" value="{{ current_name }}" />
        <br /> -->
        <!-- Last name: <input name="last_name_text" id="id_last_name" placeholder="Enter your last name" />
        <br />
        Username: <input name="username_text" id="id_username" placeholder="Enter your username" />
        <br />
        E-mail Address: <input name="email_text" id="id_email" placeholder="Enter your e-mail address" />
        <br />
        Password: <input type="password" name="password_secret" id="id_password" placeholder="Choose a password" />
        <br />
        Confirm Password: <input type="password" name="confirm_password" id="id_confirm_password" placeholder="Confirm password" /> -->

        <input type=submit value="Submit" />
        {% csrf_token %}
      </form>
    </div>


    <!-- <table id="id_user_table">
        <tr><td>Discipline {{ forloop.counter }}: {{ profile.discipline }}</td></tr>
        <tr><td>Favorite Musical Artists: {{ profile.music }}</td></tr>
    </table> -->

  </body>
</html>
